.App {
  text-align: center;
  color: white;
  padding:3%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dbdfe6;
  padding-top: 3%;
  padding-left: 25%;
  padding-bottom: 2%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
